# Python & Colab Cache
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# Data Files (JANGAN UPLOAD FILE BESAR)
*.nc
*.zip
*.tif
*.csv
*.xlsx
*.shp
*.shx
*.dbf
*.prj
*.cpg

# Kredensial & API Keys
.cdsapirc
.env

# Output Images
*.png
*.jpg
